.header-container{
    background-color: rgb(32, 29, 77);
    color: white;
    padding: 20px;

}


.body-container{
    background-color: rgb(161, 245, 241);
}


.footer-container{
    background-color: black;
    color: white;
}

.button-controller-body{
    margin: 20px;
}
.login-button{
    width: 100%;
}